RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^pro15$ pro15.php [L,QSA]
RewriteRule ^map/([^/]+)/?$ index.php?map=$1 [L,QSA]
RewriteRule ^map/([^/]+)/([^/]+)/?$ index.php?map=$1&mode=$2 [L,QSA]